In [2]:
2 + 2

4

In [1]:
a = 10
b = 3.14 
c = True

In [3]:
x, y, z = 1, 2, 3

In [4]:
name = input('enter your name: ')
city = input('enter your fav city: ')
age = input('enter your mental age: ')

In [14]:
print(name)

priya

In [16]:
print('hello my name is', name)

hello my name is priya

In [18]:
print(name,city,age)

priya  varanasi 22

In [19]:
print(name)
print(age)
print(city)

priya
22
varanasi

In [5]:
a,b,c = 11,12,14 
print(a,b,c)

11 12 14

In [12]:
print (a,b,c,sep=",")

11,12,14

In [13]:
print('This is a message' , end=' |')
print('this is another message')

This is a message |this is another message

In [10]:
pi = 22/7 
print(pi)

3.142857142857143

In [11]:
print ('the value of pi is', pi)
print('the value of pi is', round(pi,2))

the value of pi is 3.142857142857143
the value of pi is 3.14

In [8]:
print('we have three values: a=',a, 'b=',b, 'c=',c)

we have three values: a= 11 b= 12 c= 14

In [20]:
print(f'we have three values: a={a}, b={b}, c={c}')

we have three values: a=11, b=12, c=14

In [21]:
print(f'the value of pi is {pi:.2f}')

the value of pi is 3.14

In [27]:
p = 5+3*2+3/4
print(p)

11.75

In [28]:
x = 10 
x **=4
print(x)

10000

In [33]:
x*=10
print(x)

130000

In [29]:
x = 10 
x+=3
print(x)

13

In [37]:
x = 10000
x-=2
print(x)

9998

In [22]:
not(a > b or b > 100)

True

In [23]:
colors = ['red','white', 'blue']
'red' in colors

True

In [25]:
a = 30 
b = 20 
c = 30
a is c

True

In [6]:
x = 10
y = 3 
if x > y:
      print("x is greater than y and x is positive")

x is greater than y and x is positive

In [7]:
if x>5: 
    if y>3: 
        print("x is greater than 5 and y is greater than 3")