In [13]:
# dictionary
fruits = { 
    "apple": 2, 
    "banana": 3,
    "orange": 5
}

In [14]:
grocery = {
    'fruits':['apple', 'banana','orange','grape',],
    'vegetable':['onion','carrot','lettuce'],
    'dairy':['chees','milk','yogurt'],
    'meat': None     
    
}

In [15]:
reports = {
    'rajesh': {
        'Englisrh': 90,
        'Math': 80,
        'Science': 70
    },
    'Suresh': {
        'English': 80,
        'Math': 75,
        'Science': 68
    },
    
}

In [16]:
print(fruits)
print(grocery)
print(reports)

{'apple': 2, 'banana': 3, 'orange': 5}
{'fruits': ['apple', 'banana', 'orange', 'grape'], 'vegetable': ['onion', 'carrot', 'lettuce'], 'dairy': ['chees', 'milk', 'yogurt'], 'meat': None}
{'rajesh': {'Englisrh': 90, 'Math': 80, 'Science': 70}, 'Suresh': {'English': 80, 'Math': 75, 'Science': 68}}

In [17]:
from  pprint import pp

In [18]:
pp(fruits)
pp(grocery)
pp(reports)

{'apple': 2, 'banana': 3, 'orange': 5}
{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetable': ['onion', 'carrot', 'lettuce'],
 'dairy': ['chees', 'milk', 'yogurt'],
 'meat': None}
{'rajesh': {'Englisrh': 90, 'Math': 80, 'Science': 70},
 'Suresh': {'English': 80, 'Math': 75, 'Science': 68}}

In [20]:
fruits ['apple'] # retrieve value from dictionary

2

In [21]:
fruits ['apple'] = 10 # udate value from dictionary
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 5}

In [22]:
fruits ['mango'] = 25 # add new key-value pair in  dictionary
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 5, 'mango': 25}

In [23]:
grocery['spices'] = ['cumin','coriander','turmeric'] # add new key-value pair in dictionary
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetable': ['onion', 'carrot', 'lettuce'],
 'dairy': ['chees', 'milk', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'turmeric']}

In [24]:
grocery['fruits'].append('mango') # add new value in list 
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango'],
 'vegetable': ['onion', 'carrot', 'lettuce'],
 'dairy': ['chees', 'milk', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'turmeric']}

In [25]:
reports['rajesh']['evs'] = 98
pp(reports)

{'rajesh': {'Englisrh': 90, 'Math': 80, 'Science': 70, 'evs': 98},
 'Suresh': {'English': 80, 'Math': 75, 'Science': 68}}

In [26]:
fruits.pop('banana') # remove key-value pair from dictonary

3

In [29]:
reports.pop('rajesh') # remove key-value pair from dictionary

{'Englisrh': 90, 'Math': 80, 'Science': 70, 'evs': 98}

In [30]:
reports

{'Suresh': {'English': 80, 'Math': 75, 'Science': 68}}

In [31]:
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango'],
 'vegetable': ['onion', 'carrot', 'lettuce'],
 'dairy': ['chees', 'milk', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'turmeric']}

In [32]:
grocery['vegetable'].remove('onion') # remove value from list

In [27]:
fruits.keys() # get all keys from dictionary

dict_keys(['apple', 'orange', 'mango'])

In [28]:
fruits.values() # get all values from dictionary

dict_values([10, 5, 25])

In [34]:
fruits.items() # get all key-value pairs from dictonary

dict_items([('apple', 10), ('orange', 5), ('mango', 25)])

In [ ]:
# traversal

In [33]:
for k,v in fruits.items(): 
    print(k,v)

apple 10
orange 5
mango 25

In [35]:
reports['Suresh']['English']

80

In [36]:
reports.get('Suresh')

{'English': 80, 'Math': 75, 'Science': 68}

In [37]:
reports.get('ramesh')

In [38]:
reports.get('ramesh','this student not coming')

'this student not coming'

In [39]:
reports.get('Suresh','this student not coming')

{'English': 80, 'Math': 75, 'Science': 68}

In [40]:
reports['sunita'] = {
    'English': 90,
    'Math': 85,
    'Science': 78
}
pp(reports)

{'Suresh': {'English': 80, 'Math': 75, 'Science': 68},
 'sunita': {'English': 90, 'Math': 85, 'Science': 78}}

In [41]:
for student, details in reports.items():
    print(student)
    for subject,marks in details.items():
        print(f'{marks} in {subject}')
    print('---' *10)

Suresh
80 in English
75 in Math
68 in Science
------------------------------
sunita
90 in English
85 in Math
78 in Science
------------------------------

In [42]:
emps = { 
    'emp1': {
        'name' : 'Ramesh',
        'department': 'DS',
        'Salary':  25000,
        'skills': ['communication','management'],
        'projects': {
            'project1':{
                'project_name': 'ABCD',
                'project_duration': 6,
                'project_technologies':['excel','power bi','powerpoint']
            },
        },
    },
    'emp2': {
        'name' : 'Ram',
        'department': 'SD2',
        'salary': 50000,
        'skills': ['html','css','js'],
        'projects': {
            'project1':{
                'project_name': 'HRMS',
                'project_duration': 6,
                'project_technologies':['python','java','php']
            },
        }
    },
    'emp3': {
        'name' : 'Rahul',
        'department': 'SE',
        'salary': 40000,
        'skills': ['reactjs','nodejs'],
        'projects': {
            'project1':{
                'project_name': 'HRMS',
                'project_duration': 6,
                'project_technologies':['excel','power bi','tableau']
            },
        }
    },
    'emp4': {
        'name' : 'Ravi',
        'department': 'SD1',
        'salary': 30000,
        'skills': ['java','DSA'],
        'projects': {
            'project1':{
                'project_name': 'HRMS',
                'project_duration': 6,
                'project_technologies':['SQL','DBMS','Mongodb']
            },
        }
    },
    'emp5': {
        'name' : 'Raju',
        'department': 'SD',
        'salary': 20000,
        'skills': ['html','css','javascript'],
        'projects': {
            'project1':{
                'project_name': 'ABCD',
                'project_duration': 6,
                'project_technologies':['nodejs','SQL']
            },
        }
    },
    }
print(emps['emp1'])
print(emps['emp2'])
print(emps['emp3'])
print(emps['emp4'])
print(emps['emp5'])

{'name': 'Ramesh', 'department': 'DS', 'Salary': 25000, 'skills': ['communication', 'management'], 'projects': {'project1': {'project_name': 'ABCD', 'project_duration': 6, 'project_technologies': ['excel', 'power bi', 'powerpoint']}}}
{'name': 'Ram', 'department': 'SD2', 'salary': 50000, 'skills': ['html', 'css', 'js'], 'projects': {'project1': {'project_name': 'HRMS', 'project_duration': 6, 'project_technologies': ['python', 'java', 'php']}}}
{'name': 'Rahul', 'department': 'SE', 'salary': 40000, 'skills': ['reactjs', 'nodejs'], 'projects': {'project1': {'project_name': 'HRMS', 'project_duration': 6, 'project_technologies': ['excel', 'power bi', 'tableau']}}}
{'name': 'Ravi', 'department': 'SD1', 'salary': 30000, 'skills': ['java', 'DSA'], 'projects': {'project1': {'project_name': 'HRMS', 'project_duration': 6, 'project_technologies': ['SQL', 'DBMS', 'Mongodb']}}}
{'name': 'Raju', 'department': 'SD', 'salary': 20000, 'skills': ['html', 'css', 'javascript'], 'projects': {'project1': {'project_name': 'ABCD', 'project_duration': 6, 'project_technologies': ['nodejs', 'SQL']}}}