In [2]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [8]:
a = 12, 14, 50 # tuple packing
print(a)
print(type(a))

(12, 14, 50)
<class 'tuple'>

In [2]:
# single element tuple 
b = (14,)
print(b)
print(type(b))

(14,)
<class 'tuple'>

In [9]:
# tuple unpacking 
x1,  x2,  x3, = a 
print(x1,x2,x3,)

12 14 50

In [17]:
# tuple unpacking 
a = (1,2,3,4,5,12,14,16,20)
a1,  a2,  *a3, = a # a3 will get the remaining elements as a list 
print(a1,a2,a3)

1 2 [3, 4, 5, 12, 14, 16, 20]

In [19]:
a[-6:] # slicing

(4, 5, 12, 14, 16, 20)

In [22]:
for i in a:
    print(i)

1
2
3
4
5
12
14
16
20

In [25]:
x = (1,2,3,1,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2))
print(x.count(5))
print(x.index(3))
print(x.index(3,5))

4
3
0
2
7

In [27]:
a = [1,2,3,4]
at = tuple(a)
al = list(at)
print(at)
print(al)

(1, 2, 3, 4)
[1, 2, 3, 4]

In [28]:
s = {1,2,3,4,5,6,7,8,9}
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [32]:
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [33]:
s1.add(3)
s1.add(4)
s1.add('hello')
s1.add('all')
s1.add(3)
print(s1)

{'all', 3, 4, 'hello'}

In [34]:
s1.discard(3)
print(s1)

{'all', 4, 'hello'}

In [35]:
for i in s1:
    print(i)

all
4
hello

In [36]:
name = set ('Priya Maurya')
print(name)

{'a', 'u', 'r', 'M', 'i', 'P', 'y', ' '}

In [40]:
# set operations 
group1 = {'apple','banana','orange','grapes','mango','watermelon','pineapple'}
group2 = {'apple','grapes','mango', 'kiwi','papaya','cherry','watermelon','pineapple'}

In [41]:
# union
print(group1 | group2)
print(group1.union(group2))

{'watermelon', 'apple', 'pineapple', 'papaya', 'cherry', 'kiwi', 'banana', 'grapes', 'orange', 'mango'}
{'watermelon', 'apple', 'pineapple', 'papaya', 'cherry', 'kiwi', 'banana', 'grapes', 'orange', 'mango'}

In [43]:
# intersection
print(group1 & group2)
print(group1.intersection(group2))

{'watermelon', 'pineapple', 'grapes', 'apple', 'mango'}
{'watermelon', 'pineapple', 'grapes', 'apple', 'mango'}

In [42]:
# difference 
print(group1 - group2)
print(group2 - group1)
print(group2.difference(group1))

{'banana', 'orange'}
{'kiwi', 'cherry', 'papaya'}
{'kiwi', 'cherry', 'papaya'}

In [44]:
# symmetric difference
print(group1 ^ group2 )
print(group1.symmetric_difference(group2))

{'orange', 'papaya', 'cherry', 'kiwi', 'banana'}
{'orange', 'papaya', 'cherry', 'kiwi', 'banana'}

In [49]:
# task 
reports = [    
['Ram',[['Math',95],['Science',90],['English',89],]],
['Sohan',[['Math',92],['Science',98],['English',96],]], 
['Mohan',[['Math',97],['Science',99],['English',94],]],
['Ramesh',[['Math',87],['Science',98],['English',99],]],
['Ravi',[['Math',87],['Science',98],['English',99],]],
['Ratna',[['Math',87],['Science',98],['English',99],]],
['Raju',[['Math',87],['Science',98],['English',99],]],
['Raunit',[['Math',87],['Science',98],['English',99],]],
]

In [50]:
for student in reports:
    for detail in student:
        if isinstance(detail, str):
             print(detail)
        if isinstance(detail,list):
            for subject in detail:
                print(subject[0], subject[1])

Ram
Math 95
Science 90
English 89
Sohan
Math 92
Science 98
English 96
Mohan
Math 97
Science 99
English 94
Ramesh
Math 87
Science 98
English 99
Ravi
Math 87
Science 98
English 99
Ratna
Math 87
Science 98
English 99
Raju
Math 87
Science 98
English 99
Raunit
Math 87
Science 98
English 99